if TARGET_MAAXBOARD_MINI

config SYS_BOARD
	default "maaxboard_mini"

config SYS_VENDOR
	default "avnet"

config SYS_CONFIG_NAME
	default "maaxboard_mini"

config IMX_CONFIG
	default "board/freescale/imx8mm_evk/imximage-8mm.cfg"

source "board/freescale/common/Kconfig"

endif
